body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 0;
}

.navi {
    padding: 5px;
}

.navigation {
    width: 1200px;
    height: 100px;
    border-bottom: 1px solid #D9D9D9;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Inter", sans-serif;
}


.nav {
    margin-left: auto;
}

.logo-img {
    width: 24px;
    height: 35px;
    padding: 32px;
}


.nav-list {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 8px;
}

.products {
    background-color: #F5F5F5;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    padding: 5px;
}

.login {
    min-width: 178px;
    height: 30px;
    display: flex;
    gap: 12px;
    margin-right: 32px;
    margin-left: 24px;
}

.log {
    background-color: #E3E3E3;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid #767676;
    width: 100%;
}

.reg {
    background-color: #2C2C2C;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    padding: 5px;
    color: #F5F5F5;
    width: 100%;

}

.title {
    width: 1200px;
    height: 450px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-name {
    font-weight: bold;
    font-size: 72px;
    font-family: "inter", sans-serif;
    margin-bottom: 8px;
}

.sub-name {
    font-size: 32px;
    font-family: "inter", sans-serif;
    color: #757575;
}

.content {
    width: 1200px;
    height: 1000px;
    background-color: #fff;
}

.block-name {
    width: 115px;
    height: 60px;
    border: 1px solid black;
    font-family: "inter", sans-serif;
    margin: 64px;
    margin-bottom: 48px;
}

.name-content {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.subname-content {
    font-size: 20px;
    color: #757575;
}

.cards {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    
}
.item-card {
    width: 325px;
    height: 355px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}


.foot {
    width: 1200px;
    height: 470px;
    border-top: 1px solid #D9D9D9;
    background-color: #fff;
    display: flex;
    gap: 16px;
}

.block-ikon {
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 134px;
}

.logo2 {
    width: 24px;
    height: 35px;
}

.ikonX {
    margin-top: 24px;
    margin-right: 16px;
}

.ikonInst {
    margin-right: 16px;
}

.ikonYoutb {
    margin-right: 16px;
}



.columns {
    width: 260px;
    height: 275px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-top: 32px;
}

.columns-name {
    margin-top: 0;
    margin-bottom: 28px;
}

.list {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.item {
    margin-bottom: 12px;
}
